.page {
    max-width: 1280px;
    max-height: 6875px;
    background-color: #2A2C2F;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 93%;
    height: 0,76%;
    margin-left: 4%;
    margin-right: 4%;
}

.header__logo {
    width: 15%;
    height: 100%;
    margin-top: 28px;
}

.header__link {
    display: flex;
}

.header__lang-link {
    width: 30px;
    height: 54%;
    margin-right: 4%;
    margin-top: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
/* identical to box height, or 117% */
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.lead {
    display: flex;
    flex-direction: column;
    width: 77%;
    height: 15%;
    margin-left: 12%;
    margin-right: 12%;
}

 .lead__title {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 73%;
    height: 20%;
    padding-top: 56px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
/* or 104% */
    color: #FFFFFF;
} 

.lead__subtitle {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 7%;
    margin-top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
/* or 120% */
    text-align: center;
    color: #FFFFFF;
}

.lead__image {
    margin-top: 64px;
    width: 100%;
    height: 61%;
}

.lead__caption {
    height: 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
/* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 54%;
    height: 6%;
    margin-left: 12%;
    margin-right: 35%;
}

.intro__title {
    margin: 0;
    padding: 0;
    margin-top: 114px;
    width: 100%;
    height: 14%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
/* identical to box height, or 107% */
    color: #FFFFFF;
}

.intro__text {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    width: 100%;
    height: 48%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
/* or 26px */
    color: #FFFFFF;
}

.intro__list {
    margin: 0;
    padding: 0;
    margin-top: 33px;
    width: 100%;
    height: 21%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
/* or 150% */
    color: #FFFFFF;
}

.photo-grid {
    margin-left: 4%;
    margin-right: 4%;
    width: 93%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); 
    margin-top: 92px;
} 

.photo-grid__item {
    max-width: 100%;
    max-height: 100%;
}

.places {
    margin: 0;
    padding: 0;
    margin-top: 92px;
    width: 77%;
    height: 49%;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    row-gap: 80px;
}

.place-kosa {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraphs";
    gap: 48px 40px;
}

.place-title {
    width: 100%;
    max-width: 460px;
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    grid-area: title;
}

.place-image {
    max-width: 460px;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    grid-area: image;
}

.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 456px;
    grid-area: website;
}

.place__website__url-heading {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 12px;
}

.place__website__link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.place__paragraphs {
    grid-area: paragraphs;
    max-width: 484px;
    width: 100%;
    color: #FFFFFF;

}

.place__paragraph {
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.place__paragraph:first-child {
    margin-bottom: 26px;
  }

.place-kolsky {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraphs";
    gap: 48px 40px;
}

.place-altai {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraphs";
    gap: 48px 40px;
}

.place-winter-baikal {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraphs";
    gap: 48px 40px;
}

.place-karelia {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraphs";
    gap: 48px 40px;
}

.cover {
    width: 93%;
    min-height: 740px;
    background-size: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding-top: 92px;
    background-image: url(sprint-3-images/cover-trains.jpg);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 92px;
    position: relative;
    z-index: 0;
}

.cover__link {
    height: 100%;
    max-width: 100%;
    text-decoration: none;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__link:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
    transition: opacity 200ms ease-in-out;
  }
  
  
  .cover__link:hover:before {
    opacity: 0.8;
  }

.cover__title {
    width: 47%;
    margin: 0 auto 32px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
/* or 106% */
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.cover__subtitle {
    width: 360px;
    height: 66px;
    margin: 0 auto 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
/* or 122% */
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.footer {
    width: 1184px;
    height: 18px;
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    justify-content: space-between;
}

.footer__content {
   
}

.footer__link {
    width: 50px;
    height: 18px;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
}

.footer__copyright {
    width: 186px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    color: #FFFFFF;
}