.intro__list {
    margin: 0;
    padding: 0;
    margin-top: 33px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
}

@media screen and (max-width: 320px) {
    .intro__list {
        margin-top: 31px;
        margin-left: 5%;
    }
}