
.places__title {
    width: 100%;
    max-width: 460px;
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    grid-area: title;
    font-family: 'Inter';
}