.places__link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Inter', 'Arial', sans-serif;
    transition: opacity 0.4s linear;
}

.places__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 746px) {
    .places__link {
        font-size: 18px;
        line-height: 22px;  
    }
}