.cover__subtitle {
    margin: 0 auto;
    padding: 0;
    width: 360px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 47%;
    }
}

@media screen and (max-width: 720px) {
    .cover__subtitle {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 90%;
        height: 48px;
    }
}