.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    min-height: 52px;
    margin-left: 48px;
    margin-right: 48px;
  
}

@media screen and (max-width: 768px) {
  .header {
    margin-right: 28px;
    margin-left: 28px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 90%;
    padding-top: 16px;
  }
}
