.header__link {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    gap: 18px;
    max-width: 77px;
    min-height: 29px;
    margin-top: 46px;
}

@media screen and (max-width: 320px) {
    .header__link {
     margin-top: 0;
    }
}


