.cover {
    width: 93%;
    min-height: 740px;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 90px;
    z-index: 0;
    background-repeat: no-repeat;
}
  
  @media screen and (max-width: 1024px) {
    .cover {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      min-height: 640px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover {
      min-height: 480px;
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 720px) {
    .cover {
      min-height: 400px;
      gap: 16px;
    }
  }

  @media screen and (max-width: 320px) {
    .cover {
      width: 100%;
      min-height: 200px;
      margin-top: 66px;
    }
  }