.cover {
    width: 93%;
    min-height: 740px;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    padding-top: 92px;
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 92px;
    z-index: 0;
}