.places__place {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraphs";
    gap: 48px 40px;
}

@media screen and (max-width: 720px) {
    .places__place {
        width: 100%;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraphs";
        gap: 50px;
    }
}

@media screen and (max-width: 320px) {
    .places__place {
        width: 100%;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraphs";
        gap: 50px;
    }
}
