.places__place {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    grid-template-areas:
    "title website"
    "image paragraphs";
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .places__place {
        grid-template-columns: 47% 49%;
        column-gap: 32px;
        row-gap: 58px;
    }
}

@media screen and (max-width: 768px) {
    .places__place {
        column-gap: 32px;
        row-gap: 53px;
    }
}

@media screen and (max-width: 746px) {
    .places__place {
        width: 80%;
        grid-template-columns: 100%;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraphs";
        gap: 50px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 320px) {
    .places__place {
        width: 100%;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraphs";
        gap: 32px;
    }
}
