.cover__title {
    width: 47%;
    margin: 0 auto 32px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
/* or 106% */
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}