.cover__title {
    width: 47%;
    margin: 0 auto;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        width: 54%;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: 73%;
    }
}

@media screen and (max-width: 720px) {
    .cover__title {
        width: 100%;
        font-size: 40px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        width: 72.9%;
        height: 70px;
    }
}