.footer {
    width: 93%;
    min-height: 18px;
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
}

@media screen and (max-width: 720px) {
    .footer {
        margin: 0;
        padding: 0;
        margin-left: 5%;
        margin-top: 64px;
        row-gap: 48px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 0;
        padding: 0;
        margin-left: 5%;
        margin-top: 64px;
        row-gap: 48px;
        flex-direction: column;
    }
}