.places__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 456px;
    grid-area: website;
    font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 746px) {
    .places__website {
        margin-left: 5%;
        width: 90%;
    }
}
