.places__url-heading {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 12px;
    text-decoration: none;
    font-family: 'Inter';
    letter-spacing: 2px;
}