.intro__title {
    margin: 0;
    padding: 0;
    margin-top: 92px;
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .intro__title { 
        margin-top: 59px;
        margin-left: 5%;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 1px;  
    }
}